@import "tailwindcss";

/* ... src/index.css 
:root {
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --bg-dark: #1a1a1a;
  --card-bg: #242424;
  --text-light: rgba(255, 255, 255, 0.87);
  --text-gray: #a1a1aa;
  --danger: #ff4d4d;
}





body {
  margin: 0;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;

  background-image: url("/bg.gif");
  filter: blur(0px) !important;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;

  color: var(--text-light);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

... */
